line {
    stroke: #808080;
    stroke-opacity: 0.1;
    stroke-width: 1.5;
}
line.hover_highlight {
    stroke: #8b8b8b;
    stroke-opacity: 0.8;
    stroke-width: 1.0;
}

circle {
    stroke: #f5f5f5;
    stroke-width: 1.5;
    stroke-opacity: 0.9;
    /* fill: #69a2d0; */
    fill: #aabfce;
    r: 3.5;
}
circle.highlight {
    fill: #ff4f4f !important;
    /* r: 4.5; */
}
circle.hover_highlight {
    /* fill: #5cc32d; */
    fill: #b0d0e7;
    r: 4.5;
}

.hull {
    fill-opacity: 0.0;
    stroke: #ff4f4f;
    stroke-width: 1.9;
    stroke-opacity: 0.7;
    /* stroke-dasharray: 5px; */
}