<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Study - Dynamic Graph Layout Algorithm</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>任务全部完成！</h1>
        </div>

        <div class="content">
            <p>本次任务总耗时：</p>
            <p id="time-value" style="margin: 0px 10px;">600</p>
            <p>秒，感谢您的参与！</p>
        </div>
        
        <div class="attention">
            <p>声明：隐私信息XXX</p>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>