<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/favicon.png">
    <title>Task</title>
    <link rel="stylesheet" href="../static/css/task.css">
    <link rel="stylesheet" href="../static/css/vis.css">
    <link rel="stylesheet" href="../static/css/loading.css">
</head>
<body>

    <div class="container">
    
        <!-- SVG容器 -->
        <div id="loading-animation" class="loading">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <div id="slices-container" class="svg-container" style="display: none;">
            <ul id="slices">
            </ul>
        </div>
        <!-- 表单容器 -->
        <div class="form-container">
            <div class="header">
                <h1 style="margin-right: 20px;">任务</h1>
                <h1 id="current_task">-</h1>
            </div>
            <div class="header">
                <p style="margin-right: 20px;">用户ID</p>
                <p id="current_uid">-</p>
            </div>
            <form action="/next-task" method="post">
                <div class="q-container">

                    <p>1. 在给定的高亮时间片<span id="time-slices-text" highlight></span>中，观察所<span highlight>圈出</span>的社群，判断社群间/内节点距离的变化，在以下三个选项中选择一个：</p >
                    
                    <div id="r-group" style="margin-bottom: 20px;">
                        <div style="margin-top: 10px;">
                            <input type="radio" id="radio-increase" name="answer" value="increase" required />
                            <label for="radio-increase">变短</label>
                        </div>
                        <div style="margin-top: 10px;">
                            <input type="radio" id="radio-decrease" name="answer" value="decrease" />
                            <label for="radio-decrease">变长</label>
                        </div>
                        <div style="margin-top: 10px;">
                            <input type="radio" id="radio-none" name="answer" value="none" />
                            <label for="radio-none">不变</label>
                        </div>
                    </div>

                </div>
                
                <div id="q2-container" class="q-container">

                    <p>
                        2. 你认为<span id="time-slices-text-1" highlight></span>时间片中<span id="a-cluster">社群内节点的最大距离</span><span id="double-cluster">两个社群中心之间的距离</span>是<span id="time-slices-text-2" highlight></span>时间片中的多少倍？
                        <span style="display: block;">输入0-3的数值：</span>
                    </p>
                    
                    <input type="number" name="q2" id="q2-number" value="" min=0.1 max=3 step=0.1 required>
                    <p class="hint">范围：(0.0, 3.0]</p>

                </div>

                <input type="submit" value="下一个">
            </form>
        </div>

    </div>
</body>
<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="../static/js/d3.v7.min.js", type=""></script>
<script src="../static/js/d3-voronoi.v1.min.js"></script>
<script src="../static/js/concave_hull.js"></script>
<script src="../static/js/vis.js"></script>
<script src="../static/js/task.js"></script>
</html>