<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/favicon.png">
    <title>Task</title>
    <link rel="stylesheet" href="../static/css/task.css">
    <link rel="stylesheet" href="../static/css/vis.css">
    <link rel="stylesheet" href="../static/css/loading.css">
</head>
<body>

    <div class="container">
    
        <!-- SVG容器 -->
        <div id="loading-animation" class="loading">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <div id="slices-container" class="svg-container" style="display: none;">
            <ul id="slices">
            </ul>
        </div>
        <!-- 表单容器 -->
        <div class="form-container">
            <div class="header">
                <h1 style="margin-right: 20px;">任务</h1>
                <h1 id="current_task">-</h1>
            </div>
            <div class="header">
                <p style="margin-right: 20px;">用户ID</p>
                <p id="current_uid">-</p>
            </div>
            <form action="/next-task" method="post">
                <div class="q-container">

                    <p>1. 在给定的高亮时间片<span id="time-slices-text" highlight></span>中，寻找位置变化较大的的三个<span public>公共</span>节点，使用光标点击选中该节点，确认后点击下一步。</p>
                    
                    <div id="r-group" style="margin-bottom: 20px;">
                        <div style="margin-top: 10px;">
                            <input type="radio" id="radio-top1" name="_top_answer" value="top1" checked required />
                            <label for="radio-top1">1: <span highlight></span></label>
                        </div>
                        <div style="margin-top: 10px;">
                            <input type="radio" id="radio-top2" name="_top_answer" value="top2" />
                            <label for="radio-top2">2: <span highlight></span></label>
                        </div>
                        <div style="margin-top: 10px;">
                            <input type="radio" id="radio-top3" name="_top_answer" value="top3" />
                            <label for="radio-top3">3: <span highlight></span></label>
                        </div>
                    </div>

                    <input type="hidden" id="top1_answer" name="top1-answer"/>
                    <input type="hidden" id="top2_answer" name="top2-answer"/>
                    <input type="hidden" id="top3_answer" name="top3-answer"/>

                </div>
                
                <input type="submit" id="submit_button" value="下一个" not_allowed disabled>
            </form>
        </div>

    </div>
</body>
<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="../static/js/d3.v7.min.js", type=""></script>
<script src="../static/js/d3-voronoi.v1.min.js"></script>
<script src="../static/js/concave_hull.js"></script>
<script src="../static/js/vis.js"></script>
<script src="../static/js/task.js"></script>

</html>