<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/favicon.png">
    <title>用户调研 - 动态图布局算法</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>欢迎参与动态图布局算法用户调研！</h1>
        </div>
        <div class="content">
            <div class="description">
                <p>
                    <b>任务描述</b>：
                    根据屏幕右侧提示信息，观察动态图布局，识别目标节点/社群间的连接强度变化。
                </p>
                <p>
                    <b>注意事项</b>：
                    请仔细阅读每个任务，认真作答。答案编辑完成后，点击<input type="button" value="下一个">，进入下一个识别任务，操作不可返回。
                </p>
            </div>
            <div class="form">
                <form id="welcomeForm" method="post" action="/start">
                    <label for="name">姓名：</label>
                    <input type="text" id="name" name="name" required>

                    <label for="gender">性别：</label>
                    <select id="gender" name="gender" required>
                        <option value="">请选择</option>
                        <option value="male">男</option>
                        <option value="female">女</option>
                        <option value="other">其他</option>
                    </select>

                    <label for="age">年龄：</label>
                    <input type="number" id="age" name="age" oninput="this.value = this.value.replace(/[^0-9]/g, '');" required >

                    <input type="submit" value="开始作答" >
                </form>
            </div>
        </div>
        <div class="attention">
            <p>声明：个人信息仅用于学术研究</p>
            <p><a href="https://beian.miit.gov.cn/#/Integrated/recordQuery" target="_blank" rel="nofollow" class="d-none d-lg-inline-block">湘ICP备2024062399号</a></p>
    </div>
</body>
<script src="../static/js/jquery-3.6.0.min.js"></script>
</html>